[submodule "modules/r.js"]
	path = modules/r.js
	url = git://github.com/jrburke/r.js.git
[submodule "modules/jquery"]
	path = modules/jquery
	url = git://github.com/jquery/jquery.git
[submodule "modules/requirejs"]
	path = modules/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "modules/sass-twitter-bootstrap"]
	path = modules/sass-twitter-bootstrap
	url = git://github.com/jlong/sass-twitter-bootstrap.git
[submodule "modules/html5-boilerplate"]
	path = modules/html5-boilerplate
	url = git://github.com/h5bp/html5-boilerplate.git
[submodule "modules/backbone-common"]
	path = modules/backbone-common
	url = git://github.com/bruth/backbone-common.git
[submodule "modules/backbone"]
	path = modules/backbone
	url = git://github.com/amdjs/backbone.git
[submodule "modules/underscore"]
	path = modules/underscore
	url = git://github.com/amdjs/underscore.git
