.DS_Store

*.py[co]
dist
sdist
build
pip-log.txt
MANIFEST

.watch-pid
.sass-cache

# ignore local settings file intended for environment-specific settings
local_settings.py

# ignore optimized javascripts
src/static/scripts/javascript/min

# all CoffeeScript files will be compiled into this directory prior
# to being optimized
src/static/scripts/javascript/src/common
src/static/scripts/javascript/src/common.js

# all Sass files will be compiled into this directory
src/static/stylesheets/css/*.css
!src/static/stylesheets/img
!src/static/stylesheets/css/bootstrap*
!src/static/stylesheets/css/prettify.css

# Collected static files via Django's staticfiles app
_site/static

# Do not version user uploaded content since these files might be huge.
# Have another strategy for backing up this content.
_site/media
