include requirements.pip
include wsgi.py
include bin/manage.py
include src/conf/local_settings.py.sample
include Makefile

graft _site
graft server

global-exclude .DS_Store

exclude src/static/scripts/javascript/app.build.js
exclude src/static/scripts/javascript/min/build.txt
exclude src/conf/local_settings.py

prune _site/static
prune src/static/scripts/coffeescript
prune src/static/stylesheets/scss
