# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example::
#
#     pip install -U -r requirements.txt

# Core requirements
Django>=1.4,<1.5
Markdown
South
uWSGI
Fabric

# Database Drivers, the Python stdlib has support for SQLite
# psycopg2
# cx_oracle
# mysql-python
